.card__like-button {
  width: 23px;
  height: 19px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 23px 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding-top: 2px;
}

.card__like-sum {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.who-like__list {
  width: min-content;
  position: absolute;
  /* background-color: rgb(255, 255, 255); */
  border-radius: 15px;
  bottom: 60px;
  right: 20px;
  display: flex;
  gap: 0px;
  transition: 0.9s;
  list-style-type: none;
  padding: 0;
}

.liker-avatar {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  
  
  
  
}